Icon/
node_modules/
bepinex_dev/Libraries/
bepinex_dev/LateToTheParty/.vs
bepinex_dev/LateToTheParty/packages
bepinex_dev/LateToTheParty/bin
bepinex_dev/LateToTheParty/obj
bepinex_dev/LookRankingDataReader/bin
bepinex_dev/LookRankingDataReader/obj
bepinex_dev/SphereOverlapTest/bin
bepinex_dev/SphereOverlapTest/obj
bepinex_dev/LTTPConfigEditor/bin
bepinex_dev/LTTPConfigEditor/obj